# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Backup files
*.bak
*.tmp

# Logs
*.log